.nav__top {
  padding: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  width: 5%;
}
.logo {
  width: 100%;
}
.nav__sections {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  text-transform: capitalize;
}
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}
