@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --text-color: #3e4b6d;
  --bg-color: #f3f2f0;
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font size setting */
html {
  font-size: 62.5%;
}

/* General Styling */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Whole Container styling */

.whole-container {
  width: 90%;
  margin: auto;
}
