/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font size setting */
html {
  font-size: 62.5%;
}

/* General Styling */
body {
  font-family: "Public Sans", sans-serif;
  font-weight: var(--font-wt-regular);
  font-size: 1.8rem;
  background-color: var(--very-light-grey);
  color: var(--greyish-dark-blue);
}

/* Container class */
.container {
  width: 90%;
  margin: auto;
}

/* a tag styling */
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

/* btn class */
.btn {
  background: none;
  display: inline-block;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

/* title styling */
.title {
  font-family: "Ibarra Real Nova", serif;
  font-weight: var(--font-wt-bold);
}
