@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans&display=swap");

:root {
  /* COLORS */
  /* Primary */
  --slightly-desaturated-cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --greyish-dark-blue: #33323d;

  /* Secondary */
  --very-light-grey: hsl(0, 0%, 98%);
  --light-grey: #eaeaeb;
  --bright-red: #f43030;

  /* FONT WEIGHTS */
  --font-wt-regular: 400;
  --font-wt-semi-bold: 600;
  --font-wt-bold: 700;
}
