@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans&display=swap");

:root {
  /* COLORS */
  /* Primary */
  --slightly-desaturated-cyan: hsl(167, 36%, 54%);
  --dark-blue: hsl(205, 41%, 21%);
  --greyish-dark-blue: hsl(245, 10%, 22%);

  /* Secondary */
  --very-light-grey: hsl(0, 0%, 98%);
  --light-grey: hsl(240, 2%, 92%);
  --bright-red: hsl(0, 90%, 57%);

  /* FONT WEIGHTS */
  --font-wt-regular: 400;
  --font-wt-semi-bold: 600;
  --font-wt-bold: 700;
}
